body {
    font-family: "Kranky", 'メイリオ';
    font-weight: 400;
    font-style: normal;
}

/* head部分 */

.main-header {
    width: 100%;
    height: 175px;
    background-color: #d9d9d9;

}

.header__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.title-name {
    text-decoration: none;
    font-size: 128px;
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding-left: 20px;
}

/* main部分 */

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.side__content {
    background-color: #d9d9d9;

}

/* side部分 */

.content__user-name {
    width: 90%;
    height: 50px;
    background-color: #e3e6d2;
    margin: 0 auto;
    border-radius: 10%;
    border: #B2B3A7 1px solid;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;

}

/* 遷移系 */
.button__logout {
    border: none;
    background-color: #d9d9d9;
    text-decoration: none;
    font-family: "Kranky", serif;
    font-size: xx-large;
    cursor: pointer;
}

 .link__button1 {
    margin-left: 186px;
 }

.link__chat, .link__thread, .link__diary, .link__login {
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

.link__thread {
    display: block;
}

.link__button2 {}

.link__diary {}

.link__login {}

/* .content__search {}

.content__diary {}

.content__thread {} */
