.container {
    margin-top: 170px;
}

.mail-message__contents {
    text-align: center;
}

.send-message {
    display: block;
    font-weight: bold;
}

.button__verification {
    margin-top: 50px;
    font-weight: bold;
}

.verification-send {
    background: none;
    margin-top: 50px;
    padding: 0;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    border: none;
}
