
.main-date{
    font-size: x-large;
    font-weight: bold;
}
.content-name{
    font-size: 50px;
    margin-top: 5px;
}

.diary__content{
    text-align: center;
}

.diary__items{
    display: flex;
    border-bottom: solid 1px black;
    justify-content: space-around;
}

.diary__items-label{
    font-weight: bold;
}

.diary__items-date{
    margin-top: 0;
}

.diary__items-title{
    margin-top: 0;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.diary__items-content{
    width: 650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
}

.detail__image{
    width: 30px;
    height: 30px;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.modal {
    display: none;
    /* 最初は非表示 */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #b7b6b6;

}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.button-open{
    text-decoration: none;
    padding-top: 20px;
}
