.calendar-name {
    text-align: center;
    height: 75px;
    margin: 0;
    padding: 20px;

}

.link__day {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.link__previous,
.link__this,
.link__next {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: block;
}
.user__profile {
    display: flex;
    align-items: center;
}

.user__image {
    object-fit: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
}

.schedule__content{
    display: flex;
    justify-content: space-around;
}

.button__area{

}
